
{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Account" %}{% endblock %}

{% block inner %}
  </br>
  <h1 class="text-center">E-mail адреса</h1>

  {% if user.emailaddress_set.all %}

  <form action="{% url 'account_email' %}" class="email_list" method="post">
    {% csrf_token %}
    <fieldset class="blockLabels">
      <table class="table caption-top">
        <caption>Следующие e-mail адреса прикреплены к вашему аккаунту</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">E-mail</th>
            <th scope="col">Статус</th>
            <th scope="col">Основной</th>
          </tr>
        </thead>
        <tbody>

          {% for emailaddress in user.emailaddress_set.all %}
          <tr>
            <th><input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/></th>
            <td>{{ emailaddress.email }}</td>
            <td>
              {% if emailaddress.verified %}
              Подтвержден
              {% else %}
              Не подтвержден
              {% endif %}
            </td>
            <td>{% if emailaddress.primary %}Основной{% endif %}</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>

      <div class="btn-group d-flex">
            <button class="secondaryAction btn btn-primary" type="submit" name="action_primary" >Сделать основным</button>
            <button class="secondaryAction btn btn-primary" type="submit" name="action_send" >Отправить подтверждение еще раз</button>
            <button class="primaryAction btn btn-primary" type="submit" name="action_remove" >Удалить</button>
      </div>

    </fieldset>
  </form>

  {% else %}
    <p><strong>{% translate 'Warning:'%}</strong> {% translate "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}</p>

  {% endif %}

  </br>
  <h2 class="text-center">Добавить e-mail адрес</h2>

  <form method="post" action="{% url 'account_email' %}" class="add_email">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-primary" name="action_add" type="submit">Добавить e-mail</button>
  </form>

{% endblock %}


{% block inline_javascript %}
{{ block.super }}
<script type="text/javascript">
window.addEventListener('DOMContentLoaded',function() {
  const message = "Действительно хотите удалить этот e-mail адрес?";
  const actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click",function(e) {
      if (!confirm(message)) {
        e.preventDefault();
      }
    });
  }
  Array.from(document.getElementsByClassName('form-group')).forEach(x => x.classList.remove('row'));
});
</script>
{% endblock %}
