{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Password Reset" %}{% endblock %}

{% block inner %}

    <h1 class="text-center">{% translate "Password Reset" %}</h1>
    </br>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% translate "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="vstack gap-2 col-md-5 mx-auto" role="group" aria-label="btn">
          <button class="btn btn-primary" type="submit">{% translate 'Reset My Password' %}</button>
        </div>
    </form>

    <p class="text-center">{% blocktranslate %}Please contact us if you have any trouble resetting your password.{% endblocktranslate %}</p>
{% endblock %}
