{% extends "base.html" %}
{% load static %}

{% block title %} список рецептов{% endblock %}



{% block content %}
</br>
<h1 class="text-center">Список моих рецептов</h1>
</br>
<div class="d-grid gap-2 col-12 col-md-4 mx-auto">
  <a href="" class="btn btn-cake">Новый рецепт</a>
</div>
</br>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название</th>
      <th scope="col">Превью</th>
      <th scope="col">Видимость</th>
    </tr>
  </thead>
  <tbody>
  {% for recipe in recipes %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href="{{ recipe.get_absolute_url }}">{{ recipe.title }}</a></td>
      <td>{{ recipe.preview}}</td>
      <td>{{ recipe.is_visible }}</td>
    </tr>
  {% endfor %}
</table>

{% endblock content %}
